@charset "UTF-8";

/* @import url(/css/sanitize.css); */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans Japanese', serif;
    /* width: 640px; */
    margin: 0 auto;
    padding: 0;
    background-color: #EEEEEE;
    /* contain: paint; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* overflow: visible; */
}

a:link,
a:visited,
a:hover,
a:active {
    color: #0000ff;
    text-decoration: none;
}

/* 
***************************************************
normalizeここまで
***************************************************
 */
a {
    color: green;
}

body {
    /* 'UniversalSans-300', */
    font-family: "Libre Baskerville", "Shippori Mincho", serif;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    background-color: #444;
    color: #eee;
}

body>* {
    /* width: 1000px;
    margin: 0 auto; */
    background-color: #000;
}

#to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(128, 128, 128, .9);
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to_top>* {
    height: 15px;
    width: 15px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: translateY(15%) rotate(-45deg);
}

*[href$=".pdf"] {
    background: aqua;
}

.fl {
    display: flex;
}

.fl>* {
    display: block;
}

.fl-l7r3 {
    display: flex;
    flex-wrap: nowrap;
}

.fl-l7r3>*:first-child {
    flex-basis: 70%;
}

#kv {
    position: relative;
    background: url('/img/koke01.jpg') center center no-repeat;
    height: 400px;
    /* width: 100%; */
    background-size: cover;
    background-position: center 70%;
    margin-bottom: 0;
}

#kv h1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

nav {
    position: sticky;
    top: 20px;
    margin-bottom: 10rem;
}

nav ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: stretch;
    background-color: green;
}

nav li a {
    display: block;
    padding: 20px;
}

nav a,
nav a:link,
nav a:visited {
    color: white;
    text-align: center;
}

nav a:hover {
    /* text-decoration: underline; */
    background-color: white;
    color: green;
}

main section {
    /* margin: 20px 0;
    padding: 40px; */
    /* margin: 0 0 10rem; */
    padding: 6rem 0 8rem;
    background-color: #666;
    border-radius: 30%;
    position: relative;
    min-height: calc(90px * 10);
    height: auto;
    width:90vw;
    margin:5vw 0;
    margin-right:10vw;
}

main section::before {
    /* content: ""; */
    display: block;
    padding-top: 100%;
}

main section:nth-child(even) {
    background-color: #444;
    margin-left:10vw;
    margin-right:0;
}

main section h2 {
    margin-bottom: 10rem;
    font-size: 90px;
    display: block;
    writing-mode: vertical-rl;
    /* background-color: skyblue; */
    white-space: nowrap;
    /* position: absolute; */
    position: sticky;
    top: 0;
    left: 0;
    margin-right: 200px;
}

main section:nth-child(even) h2 {
    left: 100%;
    right: 0;
    /* left:-100%; */
    margin-right: 0;
}

main section *:nth-child(2) {
    margin-left: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: -5px;
        /* transform:translateY(-5px); */
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

section p {
    /* transition: 0.4s 0.3s; */
    animation: fadeIn 2s;
}

main section::after {
    /* content:"トップへ"; */
    display: block;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    img {
        max-width: 100%;
        height: auto;
        border: 0;
    }
}

@media screen and (max-width: 599px) {
    img {
        max-width: 100%;
        height: auto;
        border: 0;
    }
}